{{#partial "title" }}
 
  
{{/partial}}

{{#partial "content"}}

   {{#if squads }}
    <h3>Here are your Hero Squads!!</h3><hr>
    <table class="table table-striped table-dark text-center">
  <thead>
    <tr>
      <th scope="col">ID </th>
      <th scope="col"> Squad Name </th>
      <th scope="col">Maximum Size</th>
      <th scope="col"> Cause </th>
      <th scope="col">Squad Heroes</th>
    </tr>
  </thead>
  <tbody>
      {{#each squads }}
    <tr>
      <th scope="row"> {{id}} </th>
      <td> {{squadName}} </td>
      <td> {{maxSize}} </td>
      <td> {{description}} </td>
        <td>{{heroesSize}} </td>
    <td> <button class="btn btn-info" style="font-size:10px" ><a href="Squad/{{id}}/Heroes/new">ADD HERO</a></button></td>
    </tr>
       {{/each }}
  </tbody>
</table>

       </div>
  </div>
</div>
   


{{else}}
<div class="alert alert-warning">
    <p >No Squads Created :(.....Please make us some Heroes..</p>
    <a style="color:black" href="/form">Create a Hero Squad.</a>
</div>

   {{/if}}
{{/partial}}

{{> layout.hbs}}